// app global css
.crypto-icon-16 {
  width:16px;
  height:16px;
}
.crypto-icon-32 {
  width:32px;
  height:32px;
}
.crypto-icon-24 {
   width:24px;
   height:24px;
 }
.crypto-icon-20 {
  width:20px;
  height:20px;
}

// old Variables
$light = #bdbdbd
$dark = #424242
$faded = #777

// old CSS Classes
.text-faded
  color $faded !important
  color var(--q-color-faded) !important
.bg-faded
  background $faded !important
  background var(--q-color-faded) !important

.text-light
  color $light !important
  color var(--q-color-light) !important
.bg-light
  background $light !important
  background var(--q-color-light) !important

.text-dark
  color $dark !important
  color var(--q-color-dark) !important
.bg-dark
  background $dark !important
  background var(--q-color-dark) !important

.text-faded
  color $faded !important
  color var(--q-color-faded) !important
.bg-faded
  background $faded !important
  background var(--q-color-faded) !important
